body{
    font-family: 'Inter', sans-serif;
    background-color: #F5F5F0;
    min-height: 100vh;
    width: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    width: 100%;
    background-color: #004D29;
    color: #E6E1D6;
    border-radius: 5px;
    padding-bottom: 25px;
}

.links{
    width: auto;
    display: flex;
    flex: auto;
    justify-content: space-evenly;
}

.logo{
    width:fit-content;
    padding-right: 475px;
    font-size: 24px;
    font-weight: 510;
    flex: auto;
    display: flex;
    justify-content: center;
}

.right-links{
    width:fit-content;
    font-size: 18px;
    margin: 0;
    gap: 15px;
    display: flex;
    flex: 1 0 auto;
    justify-content:center;
}

.link a{
    color: #E6E1D6;
    text-decoration: none;
}

.hero{
    width: auto;
    padding: 0 150px;
    margin-top: 60px;
    display: flex;
    flex: 1;
}

.hero-text{
    height: auto;
    width: fit-content;
    padding-right: 45px;
    margin: 0;
    gap:7px;
    flex: auto;
    display: flex;
    flex-direction: column;
}

.hero img{
    border-radius: 5px;
}

.hero-sub{
    font-size: 18px;
    flex: auto;
}

.hero-main{
    font-size: 48px;
    font-weight: bold;
}

.button{
    background-color: #EEE9DD;
    color: #004D29;
    font-size: 20px;
    padding: 2px 8px;
    border-radius: 5px;
    flex: none;
    align-self: center;
    
}

.info{
    height: auto;
    color: #2B2B2B;
    padding: 50px 150px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.squares{
    width: 100%;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.boxes-info{
    width: auto;
    margin: 65px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.imp-info{
    font-size: 36px;
}

.boxes-info div{
    width: 300px;
    height: 200px;
    flex:auto;
    border: 2px solid black;
    border-radius: 5px;
}

.quote{
    background-color: #EEE9DD;
    font-style: italic;
    font-size: 28px;
    font-weight: 400;
    height: auto;
    width: 100%;
    padding: 100px 150px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote h3{
    align-self: last baseline;
}

.contact{
    background-color: #E6E7E3;
    width:fit-content;
    padding: 15px 35px;
    margin:50px 150px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;;
}

.contact .deal{
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

h5{
    font-size: 25px;
    margin: 0;
}

.details{
    height: fit-content;
    margin-left: 20px;
    font-size: 27px;
    flex: 0 1 auto;
    align-self: center;
}

.footer{
    width: 100%;
    background-color: #004D29;
    color: #E6E1D6;
    text-align: center;
    flex: 1;
}

.footer a{
    text-decoration: none;
    color: #E6E1D6;
    opacity: 0.85;
}