body{
    font-family: 'Inter', sans-serif;
    background-color: #F5F5F0;
    min-height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
}

.header{
    width: auto;
    background-color: #004D29;
    border-radius: 5px;
    padding-bottom: 25px;
}

.links{
    width: auto;
    display: flex;
    flex: auto;
    justify-content: space-evenly;
}

.logo{
    width:fit-content;
    font-size: 24px;
    flex: auto;
    display: flex;
    justify-content: center;
}

.right-links{
    width:fit-content;
    font-size: 18px;
    margin: 0;
    list-style-type: none;
    gap: 15px;
    display: flex;
    flex: 1 0 auto;
    justify-content:center;
}

.hero{
    width: auto;
    padding: 0 150px;
    margin-top: 60px;
    display: flex;
    flex: 1;
}

.hero-text{
    color: #E6E1D6;
    height: auto;
    width: fit-content;
    margin: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.hero-sub{
    font-size: 18px;
    flex: auto;
}

.hero-main{
    font-size: 48px;
    font-weight: bold;
}

.button{
    font-size: 18px;
    flex: none;
    align-self: center;
}

.info{
    height: auto;
    color: #2B2B2B;
    padding: 50px 150px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.squares{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.boxes-info{
    width: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.imp-info{
    font-size: 36px;
}

.boxes-info div{
    width: 250px;
    height: 250px;
}